@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

/*Header*/
.h1headerizq{
    color:orangered;
}
.h1headerder{
    float: right;
    margin-right:4.2rem;
    margin-top:-2.5rem;
    color:black;
}
.logo{
    margin-top: 2rem;
    margin-left: 1.5rem;
    background-color: white;
    z-index:1;
    border-radius: 10px;
    width: 12rem;
    height: 2.5rem;
    align-items: center;
    text-align: center;
    box-shadow: 0 9px 2px -2px orangered;
}
/*Fin header*/


/*Fondo pantalla inicio*/
.fondo{
    width: 100%;
    height:25rem;
    background-image: url("../../../PR3-JUST-EAT/storage/app/public/uploads/fondo.jpg");
    position:absolute;
    z-index:0;
    background-position: center;
    background-size: cover;
    
}
/*Final fondo pantalla inicio*/

/*Div mensaje*/
.mensaje{
    margin-left: 18rem;
    margin-top: 18.5rem;
    background-color: white;
    position:absolute;
    z-index:1;
    border-radius: 10px;
    width: 50rem;
    height: 8rem;
    align-items: center;
    text-align: center;
    box-shadow: 0 9px 2px -2px orangered;
}
.h1mensaje{
    padding-top: 1.6rem;
    margin-bottom: 0.5rem;
    color:orangered;
}
/*Fin div mensaje*/

/*Div contenido*/
.contenido{
    padding-top:30rem;
}
.txtcontenido{
    margin-left: 5rem;
    color:orangered;
}
.txtcontenido2{
    margin-top: 1rem;
    margin-left: 5rem;
}
/*Fin div contenido*/
.carrusel{
    margin-top:0.5rem;
}
/*Cartas de informacion*/

.mensaje2{
    margin-top: 2rem;
    margin-left: 1.5rem;
    background-color: orangered;
    z-index:1;
    border-radius: 10px;
    width: 11rem;
    height: 8rem;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 4px -1px orangered;
}
.h3mensaje2{
    margin-top:1rem;
    margin-left: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.imgcomida{
    width: 11rem;
    height: 8rem;
    border-radius:4px;
}
.td20{
    width:20%;
}
.td25{
    width: 25%;
}
.td40{
    width:40%;
}
.td50{
    width: 50%;
}
.td75{
    width: 75%;
}
.contenido2{
    margin:0;
    margin-top: 3rem;
    padding-left: 2rem;
    padding-top: 1rem;
    background-color: rgba(128, 128, 128, 0.198);
}
.productos{
    margin-top: 1rem;
    padding-right: 5rem;
    width:100%;
}
.cartaproductos{
    margin-top: 2rem;
    margin-left: 0.5rem;
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: 8rem;
    box-shadow: 0 6px 4px -1px grey;
}
.tablaproductos{
    width: 100%;
}
.imgrestaurante{
    border-radius: 10px;
    width:140px; 
    height:120px;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}
/*login*/
.login {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../../../PR3-JUST-EAT/storage/app/public/uploads/fondo.jpg");
    background-size: cover;
}

.cuadro_login {
    height: 30rem;
    width: 30rem;
    margin-top: 6rem;
    background: white;
    border: 5px solid orangered;
    align-items: center;
    align-content: center;
    text-align: center;
}


.h1_login {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}

.input_login {
    width: 250px;
    height: 45px;
    margin-bottom: 1rem;
    font-size: 15px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    outline: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

#row-backcolor {
    background-color: #ffcb85;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.botonlogin {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.botonlogin:hover {
    background: orangered;
    color: #fff !important;
}

.botonregistro {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.botonregistro:hover {
    background: red;
    color: #fff !important;
}

.inputregistro {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.inputregistro:hover {
    background: orangered;
    color: #fff !important;
}
.h1_login {
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 35px;
}
.h1_register {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 35px;
}
.msgregistrarse{
    padding-top:2rem;
}
.boton_modificar_restaurante {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_modificar_restaurante:hover {
    background: cadetblue;
    color: #fff !important;
}

.boton_eliminar_restaurante {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_eliminar_restaurante:hover {
    background: red;
    color: #fff !important;
}
.boton_crear_restaurante {
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}
.cuadro_modificar_restaurante {
    height: 38.5rem;
    width: 30rem;
    margin-top: 0.5rem;
    background: white;
    border: 5px solid orangered;
    align-items: center;
    align-content: center;
    text-align: center;
}

.boton_crear_restaurante:hover {
    background: orangered;
    color: #fff !important;
}
.cuadro_crear_restaurante {
    height: 38.5rem;
    width: 30rem;
    margin-top: 0.5rem;
    background: white;
    border: 5px solid orangered;
    align-items: center;
    align-content: center;
    text-align: center;
}
.input_crear_restaurante{
    width: 250px;
    height: 45px;
    margin-bottom: 1rem;
    font-size: 15px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    outline: none;
}
.h1_crear_restaurante{
    padding-top: 17px;
    padding-bottom: 20px;
    font-size: 35px;
}

/*modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.h1_modal{
    text-align: center;
}

.div_filtro{
    padding-bottom:77.5rem;
}
.inputfiltro{
    width: 200px;
    height: 25px;
    margin-bottom: 0.5rem;
    font-size: 15px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    outline: none;
}
.nacionalidad{
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}
.nacionalidad:hover {
    background: orangered;
    color: #fff !important;
}
.ulfiltro{
    list-style:none;
    padding:0;
}
.td75filtro{
    width:75%;
    padding-bottom: 400px;
}
.td10{
    width:10%;
}
.td60{
    width:60%;
    padding-left: 20px;
}
.tablaproductosfiltrados{
    width:100%;
    margin-top: -1000px;
}
.valoracion{
    color: green;
}
.botonfiltro {
    width: 100px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.botonfiltro:hover {
    background: orangered;
    color: #fff !important;
}
.valoracions{
    width: 250px;
    height: 45px;
    border-radius: 7px;
    border-color: orangered;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}
.valoracions:hover {
    background: orangered;
    color: #fff !important;
}